.Title {
    text-align: center;
    padding: 10px 0;
    padding-top: 20px;
    background-color: #f9f9f9;
}

.Title h1 {
    color: #333;
    font-size: 1.7em;
    width: auto;
    padding: 10px 20px;
    line-height: 1.2em;
    display: inline-block;
    font-weight: 400;
    font-family: helvetica neue,helvetica,Arial,lucida grande,sans-serif;
    position: relative;
}

.Title h1::before,
.Title h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 41px;
    background-image: url("../../asstes/square_frame_left.png");
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.Title h1::before {
    left: auto;
    right: 0;
    background-image: url("../../asstes/square_frame_right.png");
}

@media (max-width: 645px) {
    .Title h1 {
        font-size: 1.4em;
    }
}

@media (max-width: 550px) {
    .Title h1 {
        font-size: 1.3em;
    }
}

@media (max-width: 510px) {
    .Title h1 {
        font-size: 1.1em;
    }
}

@media (max-width: 445px) {
    .Title h1 {
        font-size: 1em;
    }
}

@media (max-width: 410px) {
    .Title h1 {
        font-size: .9em;
    }
}

@media (max-width: 375px) {
    .Title h1 {
        font-size: .8em;
    }
}
