.detail_aside {
    padding-left: 30px;
}

.detail_img {
    width: 100%;
    height: 160px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    margin-bottom: 7px;
}

.detail_img img {
    max-width: 230px;
    max-height: 110px;
    width: 100%;
}

.detail_title>span,
.detail_title h4 {
    font-style: italic;
    font-size: 13px;
    font-weight: 300;
}

.rates {
    margin-top: 7px;
}

.detail_description {
    margin-top: 10px;
}

.detail_description p {
    max-width: 100%;
    word-wrap: break-word;
    padding: 0;
    line-height: 1.35;
    font-size: 13px;
    font-weight: 300;
}

.detail_row {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.detail_col {
    padding: 0 15px 15px 0;
    flex-basis: 33.3%;
}

.detail_card {
    height: 295px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.detail_card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.detail_card p {
    text-align: left;
    margin-bottom: 20px;
}

.detail_card a {
    padding: 8px 12px;
    color: rgba(0, 0, 0, .9);
    height: 40px;
    line-height: 1em;
    background: #fff343;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 1px rgb(0 0 0 / 10%);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    text-decoration: none;
}

@media (max-width: 768px) {
    .detail_description {
        margin-bottom: 30px;
    }

    .detail_aside {
        padding-left: 0;
    }
}

@media (max-width: 620px) {
    .detail_col {
        flex-basis: 50%;
    }
}


@media (max-width: 450px) {
    .detail_col {
        flex-basis: 100%;
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(174, 172, 172, 0.411);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}