.info_content {
    padding: 30px 0 0 30px;
}

.info_title h3 {
    margin-bottom: 10.5px;
    font-weight: 400;
    font-size: 27.95px;
    margin-top: 0;
}

.shop_row,
.info_row {
    margin: 30px 0;
}

.info_row a {
    display: inline-block;
    color: #878787;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none !important;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    position: relative;
    margin-right: 15px;
    font-size: 1.2em;
}

.info_row a::after {
    content: '';
    display: block;
    position: relative;
    bottom: 7px;
    width: auto;
    height: 2px;
}

.info_row a:hover {
    color: #878787a2;
}

.info_row a:hover::after {
    background: #87878773;
}

.all_link {
    margin-bottom: 30px;
}

.all_link a {
    padding: 12px 14px;
    color: rgba(0, 0, 0, .9);
    height: 40px;
    line-height: 1em;
    background: #fff343;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 1px rgb(0 0 0 / 10%);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    text-decoration: none;
}

.shop_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 5px;
}

.Pagination {
    padding: 5px 25px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Pagination button {
    display: flex;
    padding: 10px;
    min-height: 60px;
    justify-content: center;
    align-items: center;

}

.Pagination ul {
    justify-content: center !important;
}

.card {
    flex-basis: 33%;
    padding: 5px 10px;
    text-align: center;
}

.card.all_shops a {
    padding: 10px 15px 5px !important;
    display: block !important;
}

.card.all_shops a img {
    width: 100%;
    height: 29px;
}

.card.all_shops a span {
    font-weight: 300;
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.card a {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    min-height: 150px;
    min-width: 100px;
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 8%);
    -webkit-transition: all .2s cubic-bezier(.165, .84, .44, 1);
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.card a img {
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    align-items: center;
    text-align: center;
    color: #000;
    display: block;
}


.card a:hover {
    transform: scale(1.09);
}

@media (max-width: 600px) {
    .card {
        flex-basis: 33.3%;
    }
}

@media (max-width: 425px) {
    .card {
        flex-basis: 50%;
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(174, 172, 172, 0.411);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}