.navbar {
    height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: all .4s ease-in-out;
    overflow: hidden;
}

.logo_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}

.logo {
    width: calc(197px + 60px);
    height: 24px;
    margin-right: 30px;
    display: block;
    border: 0px !important;
    padding: 0 !important;
}

.logo img {
    width: 100%;
    height: 100%;
}

.search_form a,
.logo_content a {
    text-decoration: none;
    color: #878787;
    font-weight: 500;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    font-family: "helvetica neue", helvetica, Arial, "lucida grande", sans-serif;
    font-size: 13px;
    padding: 1px;
}

.logo_content a:hover {
    border-color: rgb(135, 135, 135);
    opacity: .8;
}

.search_form {
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: right;
}

.search_form form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row nowrap;
}

.search_form input {
    outline: none;
    width: 220px;
    padding: 6px 40px 6px 16px;
    height: 40px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #fff343;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_form button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    padding: 12px 14px;
    color: rgba(0, 0, 0, .9);
    height: 40px;
    line-height: 1em;
    background: #fff343;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: transparent;
}

.search_form a {
    display: none;
}

.bars_icon {
    display: none;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .navbar {
        height: 60px;
    }

    .navbar.active {
        height: 200px;
    }

    .search_form {
        height: auto !important;
    }

    .logo_content {
        height: 90px;
        position: relative;
    }

    .search_form {
        display: block;
    }

    .logo_content a:nth-child(2) {
        display: none;
    }

    .search_form a {
        display: block;
    }

    .search_form form {
        justify-content: flex-start;
    }

    .search_form {
        text-align: left;
    }

    .logo_content {
        text-align: center;
        justify-content: center;
    }

    .logo {
        margin: 0;
        margin-bottom: 30px;
    }

    .bars_icon {
        display: block;
    }
}